@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    display: swap;
}

html {
	height: 100%;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding: 12px 32px;
}

.title {
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body-pink {
    background-color: #FEAFC3;
}

/* Header */

.navigation {
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.navigation-logo {
    width: 137px;
    margin-right: 16px;
}

.navigation-list {
	display: flex;
	flex-wrap: wrap;
    margin: 0;
    padding: 0;
    min-width: 400px;
	list-style-type: none;
}

.navigation-user {
    max-width: 440px;
    margin-left: auto;
}

.navigation-user .navigation-item {
    margin-right: 16px;
}

.navigation-user .navigation-item:last-child {
    margin: 0;
}

.navigation-button {
    min-width: 16px;
    min-height: 16px;
    margin: 0;
    padding: 6px 16px;
}

.navigation-link {
	display: block;
	padding: 8px 16px;
	font-weight: 400;
    line-height: 20px;
    color: #2D3440;
    background-color: #FEAFC3;
    text-align: center;
    text-decoration: none;
}

.navigation-catalog-list {
    background-color: #FCFCFC;
	list-style-type: none;
}

.navigation-catalog-link {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    background-color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}

.navigation-phone {
    display: block;
    padding: 6px 0;
    font-weight: 700;
    line-height: 20px;
    color: #2D3440;
    background-color: #FEAFC3;
    text-align: center;
    text-decoration: none;
}

.navigation-button {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #2D3440;
    background: rgba(252, 252, 252, 0.3);
}

/* Main */

.main-container {
    flex-grow: 1;
    width: 1170px;
    margin: 0 auto;
    padding-top: 25px;
}

/* Slider */

.page-slider {
    margin-bottom: 80px;
}

.slider-title {
    font-size: 36px;
    margin-top: 136px;
    margin-bottom: 24px;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slider-item {
    display: flex;
}

.slider-description {
    max-width: 470px;
    margin-left: 70px;
}

.slider-text {
    margin: 0;
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 24px;
}

.slider-link {
    color: #2D3440;
    background-color: #FCFCFC;
    text-decoration: none;
}

.slider-buttons-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slider-button {
    min-width: 38px;
    min-height: 38px;
}

.slider-pagination-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slider-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 104px;
    list-style-type: none;
}

.slider-social-item {
    margin-right: 16px;
    min-width: 24px;
    min-height: 24px;
}

.slider-social-item:nth-child(3n) {
    margin: 0;
}

/* Banners */

.banners {
    margin-bottom: 80px;
}

.banners-title {
    margin: 0 auto;
    margin-bottom: 55px;
    max-width: 434px;
    text-align: center;
}

.banners-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.banners-item {
    width: 570px;
    background-color: #FF7799;
}

.banner-description {
    max-width: 328px;
    margin: 36px;
    margin-right: auto;
}

.banner-one {
    background-image: url(../images/main/banner-1.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.banner-two {
    background-image: url(../images/main/banner-2.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
}

.banner-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 28px;
}

.banner-text {
    margin: 0;
    margin-bottom: 28px;
}

.banner-link {
    display: block;
    max-width: 112px;
    background-color: #FCFCFC;
    color: #2D3440;
    text-decoration: none;
}

/* Popular products */

.popular-products {
    margin-bottom: 50px;
}

.popular-products-title {
    margin: 0 auto;
    margin-bottom: 55px;
    max-width: 527px;
    text-align: center;
}

.popular-products-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

.popular-product-item {
    max-width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #FCFCFC;
}

.popular-product-item:nth-child(4n) {
    margin-right: 0;
}

.product-image {
    display: block;
    margin: 0 auto;
}

.product-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.product-text {
    margin: 0;
    color: #565C66;
    text-align: center;
}

.product-price {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
}

/* Ours features */

.ours-features {
    margin-bottom: 50px;
    padding: 24px 0;
    background-color: #FCFCFC;
    background-image: url(../images/main/waffle.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.ours-features-wrapper {
    max-width: 1122px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.ours-features-title {
    margin: 0 auto;
    margin-bottom: 55px;
    padding-top: 55px;
    max-width: 995px;
    text-align: center;
}

.ours-features-list {
    margin: 0;
    padding: 0 40px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;

}

.ours-features-item {
    max-width: 506px;
    padding-bottom: 40px;
}

.ours-features-text {
    margin: 0;
    color: #565C66;
}

/* Sections-wrapper for Blog and Subscribe */

.sections-wrapper {
    display: flex;
    justify-content: space-between;
	margin-bottom: 80px;
}

/* Blog */

.blog {
    background-color: #FCFCFC;
    background-image: url(../images/main/blog.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left;
    width: 570px;
}

.blog-text {
    margin: 0;
	margin-top: 32px;
	margin-left: 32px;
	max-width: 170px;
    line-height: 20px;
    color: #565C66;
}

.blog-link {
	display: block;
	margin-top: 12px;
	margin-bottom: 67px;
	margin-left: 32px;
	max-width: 303px;
    color: #2D3440;
    background-color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}

.blog-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
}

/* Subscribe */

.subscribe {
    background-color: #FFFFFF;
    background-image: url(../images/main/subscribe.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 570px;
}

.subscribe-wrapper {
    margin: 6px;
    padding: 26px;
    background-color: #FFFFFF;
}

.subscribe-text {
    margin: 0;
    margin-bottom: 42px;
    color: #565C66;
}

.subscribe-field {
    font-size: 16px;
    line-height: 20px;
    color: #B9B9B9;
    background-color: #FFFFFF;
}

.subscribe-button {
    color: #FCFCFC;
    background-color: #FF2F64;
}

/* Delivery */

.delivery {
    display: flex;
    margin-bottom: 80px;
    background-color: #FCFCFC;
    background-image: url(../images/main/delivery.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.delivery-text-wrapper {
    margin-top: 167px;
    margin-bottom: 163px;
    margin-left: 100px;
    max-width: 371px;
}

.delivery-title {
    margin-bottom: 24px;
}

.delivery-text {
    margin: 0;
    color: #565C66;
}

.delivery-form-wrapper {
    margin: 64px;
    margin-left: auto;
    padding: 40px;
    max-width: 420px;
    background-color: #FCFCFC;
}

.delivery-form .delivery-text {
    margin-bottom: 32px;
}

.delivery-form-data {
    margin: 0;
}

.delivery-form-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.delivery-form-field {
    font-size: 16px;
    line-height: 20px;
    color: #B9B9B9;
}

.delivery-form-button {
    color: #FCFCFC;
    background-color: #FF2F64;
}

/* Contacts */

.contacts {
    display: flex;
    flex-direction: column;
    background-color: #FCFCFC;
    background-image: url(../images/main/contacts.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.contacts-wrapper {
    margin: 64px;
    padding: 40px;
    background-color: #FCFCFC;
    max-width: 263px;
    margin-left: 64px;
}

.contacts-address {
    font-style: normal;
}

.contacts-text {
    margin: 0;
    margin-bottom: 12px;
    color: #565C66;
}

.contacts-address-place {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.contacts-address-phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    background-color: #FCFCFC;
    text-align: center;
    text-decoration: none;
}

.contacts-time {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 20px;
}

.contacts-button {
    color: #FCFCFC;
    background-color: #FF2F64;
}

/* Footer */

.page-footer {
    width: 1170px;
    margin: 0 auto;
    padding: 44px 14px 48px 4px;
    display: flex;
}

/* Footer social */

.footer-social {
    max-width: 120px;
    margin-right: 299px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    min-width: 24px;
    min-height: 24px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.footer-social-item:nth-child(3n) {
    margin-right: 0;
}

/* Footer menu */

.footer-menu {
    width: 356px;
}

.footer-menu-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-menu-item {
    margin-right: 24px;
}

.footer-menu-link {
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    background-color: #FEAFC3;
    text-align: center;
    text-decoration: none;
}

.footer-menu-item:first-child {
    font-weight: 700;
}

/* footer html academy */

.footer-htmlacademy {
    max-width: 195px;
    margin-left: auto;
    margin-right: 14px;
}

.footer-who-did-it {
    font-size: 12px;
    line-height: 16px;
}

.footer-htmlacademy-link {
    font-size: 12px;
    line-height: 16px;
    color: #2D3440;
    background-color: #FEAFC3;
    text-align: center;
}
